@import '../../scss/mixin/media';

.contactpage :global {
    background: #0F0F0F;
    .container {
      padding-top: 80px;
      padding-bottom: 120px;
    .contact-item {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .item {
        background-color: #272727;
        padding: 30px 40px;
        display: flex;
        gap: 25px;
        width: calc(50% - 10px);
        i {
          padding: 12px;
          width: 60px;
          height: 60px;
          background-color: #1B1717AB;
          border-radius: 50%;

          font-size: 36px;
        }
        .info {
          display: grid;
          gap: 4px;
        }
      }
    }
  }
}
