@import '../../scss/mixin/media';

.homepage :global {
  padding-top: 75px;
  height: 100vh;
  display: flex;
  align-items: center;

  .content {
    width: 70%;
    display: grid;
    gap: 40px;
    transition: ease-in-out 0.3s;
    .title {
      font-size: 60px;
      color: #fff;
    }
    .description {
      color: rgba(255, 255, 255, 0.8);
      font-size: 40px;
      font-weight: 400;
      strong {
        color: #fff;
      }
    }
    .network {
      display: flex;
      gap: 20px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);

        font-size: 20px;
        color: #fff;
      }
    }
  }
}
