@import '../../scss/mixin/media';

.homepage :global {
  height: 100vh;
  background-image: url('../../../public/images/home-background.jpg');
  background-size: cover;
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    .content {
      h1 {
        font-size: 80px;
        line-height: 100px;
        text-align: center;
      }
      p {
        font-size: 27px;
        line-height: 36px;
        color: #E3E3E3;
        text-align: center;
      }
    }
  }
}
